language: python
python:
  - 2.7
virtualenv:
  system_site_packages: true - 3.4
before_install:
  - sudo apt-get install python-scipy
install:
  - travis_wait 20 pip install -r requirements.txt
script:
  - python -m unittest discover
